.ghx-label-0{background-color:#ffffff;}
.ghx-label-1{background-color:#74c493;}
.ghx-label-2{background-color:#5698c4;}
.ghx-label-3{background-color:#e9d78e;}
.ghx-label-4{background-color:#e279a3;}
.ghx-label-5{background-color:#f19670;}
.ghx-label-6{background-color:#9163b6;}
.ghx-label-7{background-color:#e16552;}
.ghx-label-8{background-color:#7c9fb0;}
.ghx-label-9{background-color:#9abf88;}