{% extends "delivery/base.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<h1 class="page-header">Delivery</h1>
<div class="col-xs-12 col-sm-9">
    <p>This generates a .tar.gz file containing both .gp3 and .gnx of the specified procedures on the selected repository.</p>
    {% if errors %}
        <p>
            <ul class="has-error">
            {% for error in errors %}
                <li style="color: #a94442;">{{ error }}</li>
            {% endfor %}
            </ul>
        </p>
    {% endif %}
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        {% crispy form %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Download</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}