{% extends "adltrack/base.html" %}

{% load static %}
{% load adltrack_tags %}

{% block content %}
<h1 class="page-header">Procedure</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Version</td>
            <td>{{ procedure.version }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ procedure.name }}</td>
        </tr>
        </tbody>
    </table>
</div>
<h2 class="sub-header">Commits</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Revision</th>
            <th>Path</th>
            <th>Tokens</th>
            <th>&Delta; Tokens</th>
            <th>Macros</th>
            <th>SCM</th>
        </tr>
        </thead>
        <tbody>
        {% for pv in procedure_versions %}
        <tr {% if not pv.analyzed %}class="danger" {% endif %}>
            <td>
                <a href="{% url 'adltrack-procedure-version' version=procedure.version name=procedure.name revision=pv.commit.revision %}">{{ pv.commit.revision }}</a>
            </td>
            <td>{{ pv.commit.path }}</td>
            <td>{{ pv.data.count_tokens }}</td>
            <td>{{ pv.data.delta_tokens }}</td>
            <td>{% if pv.analyzed %}{{ pv.data.macros|length }}{% endif %}</td>
            <td><a href="{{ pv.commit|fisheye_revision_url }}" target="_blank">FishEye</a>, <a href="{{ pv.commit|viewvc_revision_url }}" target="_blank">ViewVC</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<nav>
    <ul class="pager">
        {% if procedure_versions.has_previous %}
        <li class="previous">
            <a href="?page={{ procedure_versions.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a>
        </li>
        {% endif %}
        {% if procedure_versions.has_next %}
        <li class="next">
            <a href="?page={{ procedure_versions.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}