{% extends "adltrack/base.html" %}

{% load static %}
{% load adltrack_tags %}

{% block content %}
<h1 class="page-header">Tokenization failures</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        {% for pv in procedure_versions %}
        <tr>
            <td><a href="{% url 'adltrack-procedure-version' version=pv.procedure.version name=pv.procedure.name revision=pv.commit.revision %}">{{ pv.procedure.name }} (v. {{ pv.procedure.version }}) at commit {{ pv.commit.revision }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<nav>
    <ul class="pager">
        {% if procedure_versions.has_previous %}
        <li class="previous">
            <a href="?page={{ procedure_versions.previous_page_number }}"><span aria-hidden="true">&larr;</span> Previous</a>
        </li>
        {% endif %}
        {% if procedure_versions.has_next %}
        <li class="next">
            <a href="?page={{ procedure_versions.next_page_number }}">Next <span aria-hidden="true">&rarr;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}